@media only screen and (max-width: 730px){
  #reconfigure-view{
    background: #485a68;
  }
}

#vscad-delete-area-reconf.delete-active{
  display: block;
}
#vscad-delete-area-reconf {
  display: none;
position: absolute;
width: inherit;
height: inherit;
background: #fc8686d0;
box-sizing: border-box;
margin: 0;
padding: 2rem;
top: 9.6rem;
}
/* Safari */
@-webkit-keyframes spin {
  0% { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

#vscard-delete-area-reconf {
  display: none;
  position: absolute;
  width: inherit;
  height: inherit;
  background: #fc8686d0;
  box-sizing: border-box;
  margin: 0;
  padding: 2rem;
  top: 9.6rem;
}


#reconfigure-view {
  color: white;
  font-family: 'Open Sans', sans-serif;;
}
#validation-dialog-reconf {
  position: absolute;
  z-index: 100;
  left: 2%;
  top: 10%;
  width: 95%;
  height: 85%;
  text-align: center;
  background-color: azure;
  color: black;
  border-radius: 10px 10px 0px 0px;
}
#noti-message-reconf {
  color: black;
}

#validation-dialog-reconf img {
  width: auto;
  height: 10rem;
  margin: 10rem;
  margin-bottom: 0;
  margin-top: 1rem;
}
#validation-dialog-reconf .container-reconf {
  height: 75%;
  padding-top: 2%;
  background: #467797;
  display: flex;

}
.container-reconf #rule-right {
  background: url('../optimized-images/background.png');
  flex: 1;
  width: 45%;
  height: 94%;
  margin-left: 1%;
  overflow: auto;

}
.container-reconf #rule-left {
  background: url('../optimized-images/background.png');
  flex: 1;
  width: 45%;
  height: 94%;
  float: right;
  margin-left: 9%;
  margin-right: 1%;
  overflow: auto;
}
#reconfigure-view > .title-bar-reconf {
  box-sizing: border-box;
  width: 100%;
  min-height: 9.6rem;
  padding-left: 9.6rem;
  display: flex;
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  z-index: 10;
  background: #075E54;
}

#reconfigure-view .dragging h3 {
  font-family: 'Open Sans', 'sans-serif';
  font-weight: normal;
  font-size: large;
  margin: auto;
}

#reconfigure-view .rule-part-block h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: large;
  line-height: 4rem;
  font-size: 11px;
}

#reconfigure-view h3 {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', sans-serif;
  font-weight: normal;
  font-size: large;
}

#area-wraper-reconfigure{
  display: flex;
  height: 90vh;
}

#rules-side-menu-reconfigure {
  overflow-y: scroll;
  width: 100%;
  height: 50%;
  text-align: center;
  text-align: -moz-center;
  background-color: #0a7165;
  margin: 0;
}

#operators-side-menu-reconfigure{
  width: 100%;
  height: 48%;
  overflow-y: scroll;
  border-top: solid .2rem #2d5c64;
  background-color: #0a7165;
}

.side-menu-reconfigure{
  width: 16%;
  height: 100%;
}
#warning-message-reconf{
  display: none;
  background: #FFCF8A;
  color: black;
  padding: 1rem;
  margin-top: -67%;
  margin-left: 50%;
  margin-right: -50%;
  vertical-align: bottom;
}
#rules-area-reconf{
  position: relative;
  background: url('../optimized-images/background.png');
  flex: 1;
  overflow: auto;
}

#rules-area-reconf.drag-location-hint > #drag-hint{
  display: flex;
}

.side-menu-reconfigure .rule {
  position: relative;
  background: #0d524a;
  margin: 1rem 0;
  padding: 0;
  box-sizing: border-box;
  width: 90%;
  height: 11rem;
  border-radius: 0.5rem;
  display: flex;
  vertical-align: bottom;
}

.rule-info-reconf  h1{
  padding: 3.5rem .2rem;
  width: 85%;
  display: inline-block;
  vertical-align: bottom;
  height: 30%;
   margin: 0 0.7rem;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: white;
  overflow: hidden;
  padding-left: 5%;
}

#reconfigure-view .rule-delete-dialog > p {
  font-size: 2rem;
}

#reconfigure-view .rule-part-block {
  width: 4.1rem;
  height: 4.1rem;
}

#reconfigure-view .rule-part-info .rule-part-name {
  font-size: 15px;
  line-height: 3.6rem;
  font-weight: 400;
  margin: 0 5px;
}

#reconfigure-view  .rule-part-info {
  width: 10rem;
  height: 4.1rem;
}
#reconfigure-view .dragging .rule-part-info {
  width: 12rem;
  height: 5rem;
}
#reconfigure-view .dragging .rule-part-block {
  width: 5.1rem;
  height: 5.1rem;
}
#reconfigure-view .rule .rule-part-block {
  width: 6.2rem;
  height: 6.2rem;
  text-align: center;
}

#reconfigure-view .rule-part-icon {
  padding: 0;
  width: 2.4rem;
  height: 2.4rem;
  margin: 1rem;
}
#reconfigure-view .rule-part-block .rule-part-icon {
  width: 3.6rem;
  height: 3.6rem;
  margin: 1rem;
}
#reconfigure-view .dragging .rule-part-icon {
  margin: 1.7rem;
  padding: 0;
  width: 4rem;
  height: 4rem;
}

#reconfigure-view.title-bar .rule-info {
  padding: 0;
  display: -webkit-inline-box;
  height: 100%;
  width: 90%;
}
#reconfigure-view.title-bar .rule-info > p {
  font-size: 1.6rem;
  margin-top: 0.8rem;
  color: #DAE3EB;
}

#reconfigure-view  .title-bar .rule-info h1 {
  margin: 0 0.7rem;
  font-size: 1.6rem;
  font-family: 'Open Sans', sans-serif;
  font-weight: normal;
  color: white;
}


#loader-holder-reconf{
  width: 100%;
  height: 90%;
  position: absolute;
  margin: auto;
  z-index: 300;
  background: #00000080;
  }

  .loader-reconf {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 15vh;
    height: 15vh;
    z-index: 301;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
    margin: auto;
    position: absolute;
    top: 30vh;
    left: 50%;
  }

#reconfigure-view  .title-bar .rule-delete-dialog {
  display: block;
  width: 48rem;
}

#reconfigure-view .title-bar .rule-delete-dialog > p {
  font-size: 2rem;
}

